@charset "utf-8";
/*
 CSS for chinaccs ui
 */ * {
    margin: 0;
    padding: 0;
}

body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background: #f2f2f2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}:focus {
    outline: none;
}

h2, h3, h4 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 12px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
}

h3 {
    font-size: 13px;
    font-weight: bold;
}

h4 {
    font-size: 11px;
}

a {
    color: #096DD1;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0 0 9px 0;
}

ul {
    list-style: none;
}

textarea, input, select {
    vertical-align: middle;
}

form button {
    vertical-align: middle;
}

pre {
    background-color: #f2f2f2;
    color: #070;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

hr {
    background-color: #d3d3d3;
    color: #ccc;
    height: 1px;
    border: 0px;
}

.input {
    padding: 2px 0 2px 3px;
    height: 16px;
    border: 1px solid #848484;
    margin: 5px;
    width: 150px;
}

.button {
    height: 24px;
    margin: 5px;
    padding: 3px 6px;
    background: #f1f1f1 url(bg-panel-header.gif) left bottom repeat-x;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.label {
    padding: 2px 0 2px 3px;
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin: 5px;
}

.textarea {
    padding: 2px 0 2px 3px;
    height: 100px;
    border: 1px solid #848484;
    margin: 5px;
    width: 150px;
    text-align: left;
    font-size: 12px;
}

.z-dist {
    margin: 0;
    width: auto;
    max-width: 100px;
}

.selection {
    height: 25px;
    width: 155px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.shade {
    display: none;
    z-index: 111111;
    width: 100%;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.license {
    text-align: center;
    padding: 0;
    color: #4685b2;
    font-size: 11px;
}

.cu-caption {
    position: relative;
    height: 20px;
    background: #f2f2f2 url(bg_layout_caption.gif) repeat-x scroll 0 0;
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
}

.area-title {
    height: 20px;
    background: #f2f2f2 url(bg_layout_caption.gif) repeat-x scroll 0 0;
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: bold;
}

.cu-caption span {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 16px;
    height: 16px;
    background: #f1f1f1 url(layout-ce.gif) no-repeat;
    background-position: -16px 0px;
    border: 1px #a2d2ec solid;
    cursor: pointer;
}

/*layout ----*/
#cu-header {
    width: 100%;
    background: #718ba6;
    height: 50px;
}

#cu-header .cu-header-content {
    width: 100%;
    height: 45px;
    background: url(bg-header.gif) repeat-x;
}

.cu-logo {
    float: left;
    width: 170px;
    background: url(bg-header-logo.gif) no-repeat;
    padding: 5px;
}

.cu-logo img {
    float: left;
    max-width: 160px;
    max-height: 35px;
    margin: 0 auto;
}

h2.cu-title {
    position: absolute;
    left: 170px;
    top: 13px;
    color: #e9ecef;
    text-indent: 2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.cu-header-func {
    position: absolute;
    right: 0;
    top: 13px;
    padding-right: 10px;
}

.cu-header-func a {
    color: #f2f2f2;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.cu-header-margin {
    width: 100%;
    height: 5px;
    background: #f2f2f2;
}

#cu-main {
    position: relative;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    background: #8ea4bb;
    width: 100%;
}

#cu-layout-left {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #808080;
}

#layout-left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: #f2f2f2;
    border-right: 1px solid #808080;
    z-index: 2;
    display: none;
    visibility: visible;
}

#layout-left-bar span {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 16px;
    height: 16px;
    background: #f1f1f1 url(layout-ce.gif) no-repeat;
    background-position: -16px -16px;
    border: 1px #a2d2ec solid;
    cursor: pointer;
}

#cu-content {
    position: absolute;
    left: 202px;
    top: 0;
    background: #fff;
    border-left: #909090 1px solid;
    overflow: auto;
}

#cu-load {
    width: 100%;
    overflow: auto;
}

#cu-footer {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #f2f2f2;
}

.full_load {
    position: absolute;
    z-index: 222222;
    width: 100px;
    height: 9px;
    background: url(loading-line.gif) no-repeat;
}

/*prompt ----*/
.prompt {
    position: absolute;
    top: 10%;
    z-index: 999999;
    background: #718ba6;
    padding: 10px;
    filter: alpha(opacity = 90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    display: none;
    border: 1px solid #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 200px;
    height: auto;
}

.prompt_main {
    position: relative;
    top: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.prompt_loading {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(load_c.gif) no-repeat;
    padding-bottom: 1px
}

.prompt_footer {
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: right;
    background: #f2f2f2;
    padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.prompt_footer button {
}

/*pop ----*/
.pop {
    background-color: #fff;
    display: none;
    border: 1px solid #b0b0b0;
    z-index: 888888;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
}

.pop .pop_caption {
    position: relative;
    height: 28px;
    text-align: left;
    background: #f2f2f2 url(bg_pop_c.gif) repeat-x;
    border-bottom: 1px solid #c5c5c5;
    cursor: move;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.pop_caption h2 {
    float: left;
    margin: 5px;
}

.pop_caption span {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: url(pop_close.gif) no-repeat;
    cursor: pointer;
}

.pop_content {
    height: 100%;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
}

.pop .pop_footer {
    height: 15px;
    background: #f2f2f2 url(bg_pop_f.gif) repeat-x;
    border-top: 1px solid #c5c5c5;
    padding: 5px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

/*cu-list -----*/
.cu-list {
    width: 100%;
    height: 100%;
    background: url(bg_list.gif) repeat-y;
}

.cu-content {
}

.cu-list ul {
    list-style: none;
}

.cu-list li {
    height: 20px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    white-space: normal;
}

.cu-list li:hover {
}

.cu-top-link {
}

.cu-bottom-link {
}
